@font-face {
    font-family: MUSEOSANS;
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/MUSEOSANSCYRL.OTF');
}
@font-face {
    font-family: MUSEOSANS_0;
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/MUSEOSANSCYRL_0.OTF');
}
@font-face {
    font-family: MUSEOSANS_1;
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/MUSEOSANSCYRL_1.OTF');
}
@font-face {
    font-family: MUSEOSANS_2;
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/MUSEOSANSCYRL_2.OTF');
}
@font-face {
    font-family: MUSEOSANS_3;
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/MUSEOSANSCYRL_3.OTF');
}
@font-face {
    font-family: Appetite_New;
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/Appetite_New.otf');
}
